body{ 
	margin: 0;
	font-family: helvetica , arial , sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header
{background-color: #1F618D;
text-align: center; 
padding-top: 50px;
padding-bottom: 50px
 }
 h1,h2 {font-family: 'Rubik Mono One', sans-serif;}

header h1 {color: white;
	font-size: 50px;


}
header img {
	border-radius: 170px;
	width: 300px;
border: 10px solid yellow;}

main {
	max-width: 800px;
	margin: 0 auto;
	padding:20px;
}

main img{ max-width: 100%; }
h2 {
	font-size: 30px;
	color: #2E85BF;
	margin: 40px 0 10px;
}

a {color:#2E85BF; }
a:hover {
	color: #F35757;
}
footer { 
	background-color: #FF9288;
	text-align: center;
padding: 50px;
margin: 0;} 

footer a:hover {color: white; }
p.caption {color: grey;
	font-style: italic;
	margin-top: 0;
}